body {
	color: black;
	background: #D8D8D8;
	font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index:80;
	position:relative;
}

/* --------------- HEADER ---------------- */
div {
	display: inline-block;
}

section{
	width:100%;
}
header {
	border-radius: 0 0 10px 10px;
	background: linear-gradient(deepskyblue, dodgerblue);
	background: -webkit-linear-gradient(deepskyblue, dodgerblue);
    background:    -moz-linear-gradient(deepskyblue, dodgerblue);
    background:     -ms-linear-gradient(deepskyblue, dodgerblue);
    background:      -o-linear-gradient(deepskyblue, dodgerblue);
    background:         linear-gradient(deepskyblue, dodgerblue);
	margin-left: 5%;
	margin-right: 5%;
	opacity: 0.8;
	margin-top: 0.5%;
	margin-bottom: 2%;
}

div.logo {
	vertical-align: middle;
	padding-bottom: 2%;
	padding-left: 2%;
}

#titre {
	vertical-align: middle;
	display: inline-block;
	padding-left: 20%;
}

div.logo img {
	width: 100px;
	height: 70px;
}

div.titre {
	font-size: 30px;
	margin-left: 20%;
	text-align: center;
	color: black;
}

/* ------------------- MENU ------------------------*/


li.menu {
	vertical-align: top;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 8em;
	position: relative;
	z-index:250;
}

li.menu1 {
	display : inline;
}

p.sub {
	padding: 0.2em 0 0.2em 0.3em;
	color: black;
	background: linear-gradient(deepskyblue, dodgerblue);
	background: -webkit-linear-gradient(deepskyblue, dodgerblue);
    background:    -moz-linear-gradient(deepskyblue, dodgerblue);
    background:     -ms-linear-gradient(deepskyblue, dodgerblue);
    background:      -o-linear-gradient(deepskyblue, dodgerblue);
    background:         linear-gradient(deepskyblue, dodgerblue);
}

p.sub:hover {
	background-color: grey;
}

li.menu>ul {
	display: none;
	list-style: none;
	color: white;
	background-color: grey;
	width: 8em;
	position: absolute;
	z-index:250;
}

li.menu>ul>li:hover {
	color: black;
}

a {
	display: block;
	color: inherit;
	text-decoration: none;
	margin-bottom: 0.5em;
	padding-left: 0.3em;
}

/* --------------------------------------------------------------------- */

/* ------------- ACCUEIL ------------- */
#accueil {
	vertical-align: top;
	border-radius: 5px;
	width: 50%;
	display: inline-block;
	padding: 2px 5px 5px 10px;
	margin: 0 1% 0 1%;
}

#accueil p {
	font-size: 1.8em;
	text-align: center;
}


/* ------------------ DETAIL BILLET  ------------------- */
#indiv {
	background-color:#D8D8D8;
	border-radius: 5px;
	vertical-align: top;
	border: 3px solid gray;
	border-radius: 5px;
	padding: 2px 5px 5px 10px;
	margin: 0 1% 0 1%;
	width: 50%;
	display: inline-block;
}

#indiv h2 {
	color: black;
	font-size: 2.2em;
}

#indiv p {
	margin-top: -40px;
	font-size: 16px;
}


/* ---------------- LISTE BILLET --------------------- */
#listBillet {
	vertical-align: top;
	border: 3px solid gray;
	border-radius: 5px;
	padding:5px;
	margin: 0 1% 0 1%;
	width: 50%;
	display: inline-block;
}


/* ---------------- 10 BILLETS RECENTS --------------------- */
#recent10 {
	vertical-align: top;
	border-radius: 5px;
	background: linear-gradient(deepskyblue, dodgerblue);
	background: -webkit-linear-gradient(deepskyblue, dodgerblue);
    background:    -moz-linear-gradient(deepskyblue, dodgerblue);
    background:     -ms-linear-gradient(deepskyblue, dodgerblue);
    background:      -o-linear-gradient(deepskyblue, dodgerblue);
    background:         linear-gradient(deepskyblue, dodgerblue);
	padding: 5px;
	width: 20%;
	display: inline-block;
}

/* ---------------- LISTE CATEGORIE ------------------- */
#listcat {
	vertical-align: top;
	width: 20%;
	display: inline-block;
	border-radius: 5px;
	background: linear-gradient(deepskyblue, dodgerblue);
	background: -webkit-linear-gradient(deepskyblue, dodgerblue);
    background:    -moz-linear-gradient(deepskyblue, dodgerblue);
    background:     -ms-linear-gradient(deepskyblue, dodgerblue);
    background:      -o-linear-gradient(deepskyblue, dodgerblue);
    background:         linear-gradient(deepskyblue, dodgerblue);
	padding: 5px;
	margin-left:3%;
}

/* --------------------- TITRE D'ARTICLE -----------------  */
#titArt {
	color: black;
	font-size: 1.5em;
	font-weight: bold;
}

img{
	width:200px;
	height:200px;
}

/*  ---------------- PAGE AJOUT ---------------------*/

#formP{
	text-align:center;
	font-weight: bold;
	font-size:20px;
}
input{
	margin-bottom: 7%;
	height:20px;
}


#ajout{
	border-radius:10px;
	margin-left:25%;
	width: 50%;
	background: linear-gradient(deepskyblue, dodgerblue);
	background: -webkit-linear-gradient(deepskyblue, dodgerblue);
    background:    -moz-linear-gradient(deepskyblue, dodgerblue);
    background:     -ms-linear-gradient(deepskyblue, dodgerblue);
    background:      -o-linear-gradient(deepskyblue, dodgerblue);
    background:         linear-gradient(deepskyblue, dodgerblue);
	opacity : 0.8;
	padding : 10px;
	padding-bottom:10px;
}

#ajout h1{
	margin-bottom :5%;
	text-align:center;
	font-size :1.8em;
}

#ajout p{
	text-align:center;
}

#err{
	color:red;
}

#ok{
	margin-left:44%;
}


/* ---------------------- FOOTER ------------------------ */
footer {
	margin-bottom: 1%;
	margin-top: 100px;
	padding-top: 1px;
	background-color: gray;
	vertical-align: middle;
}

footer p {
	color: ADA8A8;
	font-size: 0.8em;
	text-align: center;
	padding-bottom: 1em;
}
